/* Regel A */
h1 {
  color: gray;
}
/* Regel B */
.gross {
  color: red;       /* (1) Warum gilt diese Farbe nicht? */
  font-size: 3rem;
  }
/* Regel C */
#titel {
  color: darkblue;
}
/* Regel D */
.text {
  color: green;
}
/* Regel E */
p {
  color: orange;    /* (2) Warum gilt diese Farbe nicht für .text? */
}
/* Regel F */
#intro {
  color: purple;
}
/* Regel G */
p {
  color: black;     /* (3) Warum gilt diese Farbe für Absätze mit .text nicht? */
  line-height: 1.4;
}